/* Section Styles */
section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #444; /* Adjusted color */
}

.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: calc(30% - 20px); /* Adjust width for three columns */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 10px; /* Add some margin between items */
}

.service-image {
    width: 100%; /* Ensure the image fills the item */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px 10px 0 0; /* Round the top corners */
    transition: transform 0.3s, opacity 0.3s;
}

.service-item:hover .service-image {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Footer Styles */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    color: #ccc;
}

/* Gallery Styles */
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Space between images */
    padding: 20px;
}
.gallery-item {
    position: relative;
    width: calc(33.333% - 10px); /* Three images per row, adjust as needed */
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.gallery-description {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}
